<html>
    <body style="background-color:skyblue">
    <h1>
        ****this is the second page~~~~~~~~~~~~~~~~~~~~~
        <p>
            this is how u create the second page
            No, generally, others cannot access your Codespace folder directly.
             Codespaces are designed to be isolated environments scoped to a single user. 
             While you can collaborate on a repository within a Codespace,
             the actual file system of a specific Codespace
        </p>
    </h1>
</body>
</html>